.counter-container {
    background-color: #959796;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 5px;
}

.counter-wrap {
    color: #959796;
    background-color: #1a1d1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin: 0 15px 15px 15px;
    width: auto;
    max-width: 50%;
}

.counter-button {
    text-align: start;
    cursor: pointer;
    margin: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    width: auto;
}

.counter-button:hover {
    color: #1a1d1c;
    background-color: #959796;
    transition: all 0.2s ease-out;
}

.counter-sign {
    font-size: 22px;
}

.counter-text {
    font-size: 20px;
}